---
import { map } from 'astro:schema';
import Badge from '../UI/badge.astro';

export interface Props {
    category?: string;
    title: string;
    description: string;
    tags?: string[];
    badge?: boolean;
    badgeText?: string;
    badgeColor?: string;
    link?: string;
}
const {
    category = "Work Experience",
    title,
    description,
    tags = [],
    badge = false, 
    badgeText = "New Projects",
    badgeColor = "bg-red-500",  
    link = "#",
} = Astro.props;
---

<div class="relative flex flex-col rounded-3xl text-white bg-[#1C1E23] p-6 gap-3 border-2 border-transparent overflow-hidden row-span-1 col-span-8 lg:p-8 lg:row-span-4 xl:col-span-4" style="opacity: 1; transform: none;">
    <div class="flex flex-col gap-3 ">

        <div class="flex items-center gap-3 opacity-50 z-1">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M16 5l-8-4-8 4 8 4 8-4zM8 2.328l5.345 2.672-5.345 2.672-5.345-2.672 5.345-2.672zM14.398 7.199l1.602 0.801-8 4-8-4 1.602-0.801 6.398 3.199zM14.398 10.199l1.602 0.801-8 4-8-4 1.602-0.801 6.398 3.199z"></path></svg>
            <span class="font-semibold uppercase">
                <span>{category}</span>
            </span>
        </div>

        {badge && (

        <div class={`absolute flex items-center justify-center text-white ${badgeColor} gap-2 p-2 rounded-lg bottom-3 z-10 lg:bottom-auto lg:right-24 lg:rounded-2xl lg:py-1 lg:px-3`}>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M216 23.86c0-23.8-30.65-32.77-44.15-13.04C48 191.85 224 200 224 288c0 35.63-29.11 64.46-64.85 63.99-35.17-.45-63.15-29.77-63.15-64.94v-85.51c0-21.7-26.47-32.23-41.43-16.5C27.8 213.16 0 261.33 0 320c0 105.87 86.13 192 192 192s192-86.13 192-192c0-170.29-168-193-168-296.14z"></path></svg>
            {badgeText}
        </div>

        )}
        <a href={link} class="p-2 border-2 border-dusky dark:border-moonlit opacity-40 rounded-full absolute top-6 right-6 lg:top-8 lg:right-8 cursor-pointer hover:bg-dusky hover:text-white dark:hover:bg-moonlit dark:hover:text-dusky transition-colors duration-150 z-1">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M6 6v2h8.59L5 17.59 6.41 19 16 9.41V18h2V6z"></path></svg>
        </a>

        <div class="flex flex-col gap-1 z-1">
            <h3 style="font-family: outfit;" class="text-3xl font-bold">{title}</h3> 
            <p class="opacity-70" style="font-family: outfit;">{description}</p>
            <div class="flex items-center gap-2 opacity-90 font-medium mt-2">
                
                {
                tags.map(tags => (
                    <Badge>
                        <span class="text-sm">{tags}</span>
                    </Badge>
                ))}

                
            </div>
        </div>

        <div class="flex w-full justify-center">
            <slot/>
        </div>
        
    </div>
</div>