---
import { date } from "astro:schema";

const apps = [
    {
        name: 'Fonicris',
        description: 'App para gestionar, añadir y verificar activos.',
        image: 'https://binamehta.com/wp-content/uploads/image-placeholder-300x200.png',
        link: 'https://appone.example.com',
        date: "2024-04-15",
        github: false,
        page: false
    },
    {
        name: 'App Two',
        description: 'This is the second app.',
        image: 'https://binamehta.com/wp-content/uploads/image-placeholder-300x200.png',
        link: 'https://apptwo.example.com',
        date: "2024-05-02",
        github: false,
        page: false
    },
    {
        name: 'App Three',
        description: 'This is the third app.',
        image: 'https://binamehta.com/wp-content/uploads/image-placeholder-300x200.png',
        link: 'https://appthree.example.com',
        date: "2024-04-15",
        github: false,
        page: false
    }
];
---


<section class="">

    <div class="p-4 mx-20 rounded bg-[#262626] mt-4 mb-4" style="font-family: Montserrat;">
        <h2 class="text-white">Apps Mobiles</h2>
    </div>

    <div class="flex flex-wrap justify-around gap-6 m-20">
        

        {apps.map(app => (
            <div class=" card
            bg-white flex flex-col rounded-[30px] shadow-xl hover:cursor-pointer min-w-82 overflow-hidden

            hover:scale-105 transition-transform duration-300 ease-in-out">

                <img class="card-img" src={app.image} alt={app.name} />

                <div class="m-[20px]">
                    <h2 class="text-xl text-bold">{app.name}</h2>
                    <p class="text-wrap">{app.description}</p>
                    <a href={app.link} target="_blank">View App</a>
                </div>

                
            </div>
        ))}
    </div>
</section>

<style>
    .card-img {
        border-radius: 14px 14px 0 0;
        max-width: 400px;
    }
</style>